@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
body{
    font-family: 'Playball', cursive;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(208, 242, 247);
}

