h1 {
    font-size: 55px;
    text-align: center;
    margin-top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-decoration: underline;
  
  }
  
  
  img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
  }
  h2{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-family: cursive;
    padding: 2px;
    margin-bottom: 9px;
    font-family: 'Montserrat', sans-serif;
  }
  
  #photo-template{
    display: none;
  }
  p{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 2px;
    position: relative;
    top:30px;
    font-family: 'Montserrat', sans-serif;
  }